/*
* Landing Page - Practice
* CSS Styles
* http://www.idg.net.ua/blog/uchebnik-css/ispolzovanie-css/praktika-delaem-landing-page
*
*/


/* General */

/* Header */


body
{
  margin: 0 auto;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
img{
    display: block;
    width: 100%;
}
.brand{
    position: relative;
}
.container{
    padding: 0 5px;
}
.jumbotron{
    background:url(../img/jumbotron.jpg) no-repeat center top/cover;
    padding: 50px 0;
    text-align: center;
    color: #fff;;
}.brand{
    font-size: 22px;
    color: #62afe4;
}
.button{
    display: block;
    max-width: 160px;
    max-height: 25px;
    line-height: 25px;
    background: #fa5ba5;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    width: 150px;
    background-color:none;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
    height: 40px;
    font-family: 'Arial';
    right:0;
    top: 0;
}

#check-menu{
    display: none;
}

label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: black;
    transition: .5s all;
}

.second, .third{
    top: 18px;
}

.fourth{
    top: 28px;
}

.main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;

}
ul>li{
    list-style: none;
}

.main-menu a{
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: rgb(118, 191, 233), 224);
}

.main-menu a:hover{
    color:rgb(238, 83, 161);
}

#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}

/* Services */
.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:#979797;
    
}
.service {
    margin:15px 0;
}
.services>.container>h2{
    color: black;
}

/* Blog */

.blog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.blog>.container>h2{
    text-align: center;
}
.post{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.post img{
    order: 1;
}
.post p{
    font-size: 12px;
    color: #c4c4c4;
}
.post h3{
    text-align: center;
}


/* Footer */
footer{
    background-color:#38404b;
    padding:20px 5px;
    text-align: center;
}
.foot-menu>ul>li {
    display: inline-block;
     
}
.foot-menu ul{
    padding: 0;
}
.foot-menu>ul>li>a{
    text-decoration: none;
    color: #939eb0;
    margin-right:10px;
    font-size: 14px;
}
.copyright{
    font-size: 10px;
}
