.b {
    width: 150px; 
    height: 50px; 
    border: 4px solid #000; 
    margin-bottom: 10px; 
    position: relative; 
   }
   .b::before, .b::after {
    content: '';
    position: absolute;
   }
   .b::after { 
    width: 10px;
    height: 20px;
    background: #000;
    right: -10px; top: 15px;
   }
   .b::before {
    height: 100%;
   }
   .red::before{ 
    width: 33%;
    background: #ED1C24;
   }
   .yellow::before { 
    width: 66%;
    background: #FFC60B;
   }
   .green::before {
    width: 100%;
    background: #00A055;
   }